spring:
  datasource:
    url: jdbc:h2:file:./data/db
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  freemarker:
    settings:
      datetime_format: yyyy-MM-dd HH:mm:ss
      time_zone: GMT+8
    template-loader-path: classpath:/templates/
    suffix: .ftl
    cache: true
    charset: UTF-8
    content-type: text/html
